
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

  
body{
    background-color: #dde5ff;
    font-family: 'Open Sans', sans-serif;
}
.main{
    display: grid;
    padding:  0 1.25rem;
    height: 100vh;
    grid-gap:1.25rem;
    grid-template-columns: 12.5rem 1fr 1fr 1fr;
    grid-template-areas:    "nav nav nav nav"
                            "aside section section section"
                            "footer footer footer footer";

}
.nav{
    background-color: #7584ff;
    height: 6.25rem;
grid-area: nav;
    display: flex;
    justify-content:center;
    align-items: center;
}
.nav__h1{
    color: #fff;
    font-size: 1.75rem;
    font-weight: 700;
}
.aside{
    background-color: #dde5ff;
    color:#282689;
    width: 12.5rem;
    border-right:.0625rem solid #282689 ;
    padding: 1.25rem;
    grid-area: aside;
    

    display: flex;
    flex-direction: column;

}
.section{
    background-color: #dde5ff;
    grid-area: section;
}
.footer{
    height: 6.25rem;
    background-color: #7584ff;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__card{
    display: grid;
    grid-gap:1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));

}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fff;
    padding: 1.25rem;
    color: #282689;
    border-radius: .625rem;
    border: .0625rem solid #282689;
}
.card__img{
    width: auto;
    height: 12.5rem;
}
.card__h3{
    margin: .625rem;
    font-size: 1.25rem;
    font-weight: 700;
}
.card__paragraph{
    font-size: 1rem;
    font-weight: 500;
    margin: .625rem;
}
.card__button{
    background-color: #dde5ff;
    width: 100%;
    padding: .625rem 1.25rem;
    border-radius: .625rem;

}
.card__button:hover{
    background-color: #282689;
    color: #fff;
    padding: .625rem 1.25rem;
    border-radius: .625rem;

}
.aside__h2{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
.aside__ol--li{
    padding: .625rem 0;
}